<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body ng-app="Assignment3">
   <div class="container" id="ctrl" ng-controller='NarrowItDownController as narrow'>
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="searchTerm" ng-model="narrow.searchTerm" class="form-control">
    </div>
    
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="narrow.findItems(narrow.searchTerm);">Narrow It Down For Me!</button>
    </div>
    <div>
      </br>
    </div>
      <!--<div>
      <ul>
        <li ng-repeat="item in narrow.items">
          {{ item.name }}
        </li>
      </ul>
      </div>-->

    <!-- found-items should be implemented as a component -->
    <found-items 
        
        items="narrow.items"
        title="{{narrow.title}}"
        display-nothing="narrow.displayNothing"
        on-remove="narrow.removeItem(index)">
    </found-items>
  </div>

</body>
</html>
